
{% load static %}
{% if request.user.is_authenticated %}
<head>
	<title> CALF-{{calf_data.calf_Id}}</title>
  <link type="text/css" href="{% static 'css/a.css' %}" rel="stylesheet">
</head>

<header>
 <div class="container" >
 <div class="logo">
      <h1><a  href="{% url 'home' %}">Paavni Dairy Farms</a>  </h1> 
      </div>
 <nav>
 
  <ul>
   <li><a href="{% url 'auth_logout' %}">LOGOUT</a></li>
   <li><a href="{% url 'home' %}">HOME</a>

   </li>
  

  </ul>
 </nav>
</div>
</header>
<div class="title">
    <h1>Calf Details</h1>
</div>
<div class="contain">
<table>
    <tr>
        <th>Calf Id</th>
        <td>{{calf_data.calf_Id}}</td>
    </tr>
    <tr>
        <th>Calf Name</th>
        <td>{{calf_data.name}}</td>
    </tr>
    <tr>
        <th>Breed</th>
        <td>{{calf_data.Breed}}</td>
    </tr>
    <tr>
        <th>Date of Birth</th>
        <td>{{calf_data.date_of_birth}}</td>
    </tr>
    <tr>
        <th>Age</th>
        <td>{{calf_data.age}}</td>
    </tr>
    <tr>
        <th>Weight</th>
        <td>{{calf_data.weight}}</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>{{calf_data.sex}}</td>
    </tr>
    <tr>
        <th>Buyer details</th>
        <td>{{calf_data.pno_buyer}}</td>
    </tr>
    <tr>
        <th>Seller details</th>
        <td>{{calf_data.pno_seller}}</td>
    </tr>
    <tr>
        <th>Insurance status</th>
        <td>{{calf_data.Insurance}}</td>
    </tr>
    <tr>
        <th>Date of expiry for insurance</th>
        <td>{{calf_data.date_of_expiry_insurance}}</td>
    </tr>
    <tr>
        <th>Dehorning status</th>
        <td>{{calf_data.dehorning}}</td>
    </tr>
    <tr>
        <th>One time Vaccination</th>
        <td>{{calf_data.One_time_Vaccination}}</td>
    </tr>
    <tr>
        <th>Remarks</th>
        <td>{{calf_data.Remarks}}</td>
    </tr>

</table>
</div>
{%endif%}