
{% load static %}
{% if request.user.is_authenticated %}
<head>
	<title> Customer-{{cust_data.Cust_Id}}</title>
  <link type="text/css" href="{% static 'css/a.css' %}" rel="stylesheet">
</head>

<header>
 <div class="container" >
 <div class="logo">
      <h1><a  href="{% url 'home' %}">Paavni Dairy Farms</a>  </h1> 
      </div>
 <nav>
 
  <ul>
   <li><a href="{% url 'auth_logout' %}">LOGOUT</a></li>
   <li><a href="{% url 'home' %}">HOME</a>

   </li>
  

  </ul>
 </nav>
</div>
</header>

<div class="title">
<h1>Customer Details</h1>

</div>
<div class="contain">
<table>
    <tr>
        <th>Customer Id</th>
        <td>{{cust_data.Cust_Id}}</td>
    </tr>
    <tr>
        <th>Customer Name</th>
        <td>{{cust_data.Cust_Name}}</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{cust_data.Cust_address}}</td>
    </tr>
    <tr>
        <th>Contact</th>
        <td>{{cust_data.contact}}</td>
    </tr>
    <tr>
        <th>Email_ID</th>
        <td>{{cust_data.Email_Id}}</td>
    </tr>
    <tr>
        <th>Payment Dues</th>
        <td>{{cust_data.Payment_Dues}}</td>
    </tr>
    <tr>
        <th>Usual Purchase Details</th>
        <td>{{cust_data.Usual_purchase_details}}</td>
    </tr>
    

</table>
</div>
{%endif%}