{% load static %}
{% if request.user.is_authenticated %}
<head>
<title>Customer</title>
	<link type="text/css" href="{% static 'css/cust.css' %}" rel="stylesheet">
</head>

<header>
 <div class="logo">
      <h1><a  href="{% url 'home' %}">Paavni Dairy Farm</a>  </h1> 
      </div>
 <nav>
  <ul>
   <li><a href="{% url 'auth_logout' %}">LOGOUT</a></li>
   <li ><a href="{% url 'home' %}">HOME</a></li>
  

  </ul>
 </nav>

</header>



<body>
<main>
<section class="side-bar">
      <ul>
       {%if request.user.is_superuser %}
       <li><a href='{% url 'admin:index' %}'><h2>Accounts</h2></a></li>
        {% endif %}
        <li><a href='{% url 'cattlepage' %}'><h2>Cattle</h2></a></li>
        <li><a href='{% url 'calfpage' %}'><h2>Calf</h2></a></li>
        <li><a href='{% url 'invoicepage' %}'><h2>Invoice</h2></a></li>
        <li><a href='{% url 'notifypage' %}'><h2>Notify</h2></a></li>
        <li><a href='{% url 'custpage' %}'><h2>Customer</h2></a></li>
        <li><a href='#'><h2>Fodder</h2></a></li>
      </ul>
</section>







<section class="section1" style="height: auto;  padding: 30px 150px;">
<br>
<div class="container">
<article>
<div class="head">
<h2>Customer Details:- </h2>
</div>
</article>

<div class="add">
  <button onclick="window.location.href='{% url 'admin:index' %}'">
    
    +ADD 
  </button>
</div>
</div>

  
  
  
  <div class="calf">   
  <table>
  <tr>
  <th>CUSTOMER ID</th>
  <th>CREATED</th>
  </tr>
{%  for ctl in all_cust %}
   
   <td>
   <a href='/custpage/{{ctl.Cust_Id}}/'>{{ctl.Cust_Id}}</a>
  </td>
  <td>{{ctl.timestamp}}</td>
  </tr>
  
  {% endfor %}
</table>
</div>
</section>
</div>
</main>
</body>

{% endif%}